body {
    margin: 0;
}

#container {
    display: grid;
    height: 100%;
    grid-template-rows: [top] 5rem auto;
    grid-template-areas:
    "head"
    "body";
}

#header {
    grid-area: head;
    background: #555;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}

.headerNavButton {
    background: none;
    border: none;
    font-size: xx-large;
    margin-right: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.headerNavButton:hover {
    outline: rgb(117, 117, 117) 2px solid;
    cursor: pointer;
}

#searchComponent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

#searchComponent:focus-within {     /* Create outline for searchbar, including the button */
    outline-color: #C7511F;
    outline-style: solid;
    outline-width: 0.15rem;
    border-top-left-radius: 20px;       /* Change the border to match the border shape of searchBar and button */
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.headerSearchbar {
    width: 85%;
    height: 1.9rem;
    border-radius: 0;
    border-style: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: large;
    padding-left: 1rem;
}

.headerSearchbar:focus {
    outline: none;      /* Disable standart outline -> outline is created by parent */
}

#searchButton {
    width: 15%;
    height: 2.02rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: none;
    background: rgb(226, 226, 226);
}

#searchButton:hover {
    background: rgb(205, 205, 205);
    cursor: pointer;
}

#searchButton:active {
    background: rgb(184, 184, 184);
}

.headermiddle {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#mainbody {
    grid-area: body;
}

#shoppingPage {
    display: grid;
    grid-template-columns: [left] 25vh auto;
    grid-template-areas:
    "filter view";
    padding-top: 0.5rem;
}

.filterOptions {
    grid-area: filter;
    background: red;
    height: 50vh;
    padding-left: 0.75rem;
}

#filters {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.shopView {
    grid-area: view;
    background: white;
    padding-left: 0.75rem;
}

#items {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.shopItem {
    display: grid;
    padding: 0.1rem;
    height: 12rem;
    width: 99.2%;     /* To keep the right outline part inside the window */
    border: black;
    outline: 1px solid gray;
    outline-offset: -2px;
    grid-template-columns: [left] 15rem auto;
    grid-template-areas:
    "image props";
}

.shopItem:hover {
    outline: 2px solid #c7621fd2;
    outline-offset: -2px;
    z-index: 1;
}

.shopItem-ImgSpace {
    grid-area: image;
    height: inherit;
    display: flex;
    width: 100%;
    background: rgb(236, 236, 236);
    align-items: center;
    justify-content: center;
}

.shopItem-Img {
    height: 100%;
    width: auto;
    max-width: 100%;
}

.shopItem-itemProps {
    grid-area: props;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    height: inherit;
    padding-top: 0.2rem;
    padding-left: 1rem;
    align-items: flex-start; 
    justify-content: flex-start;
}

.shopItem-Prop {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding-top: 0.2rem;
}

.shopItem-header {
    margin: 0;
    font-size: large;
    color: black;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.shopItem-header:hover {
    color: #C7511F;
    text-decoration: underline;
}

.shopItemPrice {
    font-size: larger;
    font-weight: bold;
}

.shopItemPrice::after {
    content: "$";
}

#inspectItemPage {
    display: flex;
    flex-direction: column;
}

#itemViewer {
    display: flex;
}

#itemImageViewer {
    display: flex;
    width: 40%;
    height: 30rem;
    align-items: flex-start;
    justify-content: center;
}

#activeImage {
    background: rgb(236, 236, 236);
    height: auto;
    width: 65%;
    margin-top: 5rem;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    outline: black 1px solid;
}

#image {
    width: 100%;
}

#itemSummaryViewer {
    width: 35%;
    padding-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    background: rgba(218, 218, 218, 0.3);
    height: fit-content;
    padding-bottom: 2rem;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    outline: rgba(218, 218, 218, 0.5) 2px solid;
}

#itemName {
    text-decoration: underline;
    margin: 0;
    margin-top: 2rem;
}

#itemRating {
    margin-left: 1.2rem;
    margin-top: 0.3rem;
}

#itemPrice {
    font-size: larger;
    font-weight: bold;
    margin-left: 1.2rem;
}

#itemSpecs {
    list-style: none;
    margin-left: 1.2rem;
    padding: 0;
}

.itemSpec {
    display: flex;
    padding-bottom: 0.25rem;
    margin: 0;
}

.itemSpecKey {
    display: inline-block;
    font-weight: bold;
    max-width: 50%;
    text-wrap: wrap;
    word-break: keep-all;
    overflow: hidden;
}

.itemSpecValue {
    display: inline-block;
    text-wrap: wrap;
    margin-left: 5%;
    word-break: keep-all;
    overflow: hidden;
}

#itemSummary {
    font-size: large;
}

#itemBuyPanel {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 30rem;
    outline: black 2px solid;
    background: rgb(215, 215, 215);
}

#itemBuyPanelHeader {
    margin-left: 10%;
}

#itemAmountInput {
    display: inline;
}

#itemAmountInputText {
    display: inline-block;
    width: fit-content;
    padding-right: 0.5rem;
}

#itemAmountInputField {
    width: 5rem;
}

#itemAmountInputField:hover {
    cursor: pointer;
}

.buyPanelButton {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 1.75rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: none;
    margin-bottom: 0.75rem;
}

.buyPanelButton:hover {
    background: rgb(184, 184, 184);
    cursor: pointer;
}

.buyPanelButton:active {
    background: rgb(158, 158, 158);
}

.viewSeperator {
    background: rgb(190, 190, 190);
    height: 1px;
    margin: 2rem;
}

#itemDescriptionViewer {
    background: rgb(245, 245, 245);
    height: fit-content;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#itemDescription {
    font-size: larger;
    padding-left: 1rem;
}

#itemReviewViewer {
    background: rgb(245, 245, 245);
    height: fit-content;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.itemReview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2rem;
    margin-bottom: 2rem;
    outline: double 4px black;
    width: 60%;
}

#itemReviewHeader {
    margin: 0.2rem;
    text-decoration: underline;
}

#itemReviewRating {
    margin: 0;
    margin-left: 0.2rem;
}

#itemReviewDescription {
    margin-left: 0.2rem;
    font-size: large;
}

#placeholder {
    height: 1rem;
}